<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Asistencia 2023 - 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Arquitectura</ion-label><ion-label>3 / 20</ion-label><ion-label>12%</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Lenguaje</ion-label><ion-label>20 / 20</ion-label><ion-label>12%</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Matematicas</ion-label><ion-label>12 / 20</ion-label><ion-label>12%</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Educacion</ion-label><ion-label>13 / 20</ion-label><ion-label>12%</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Ciencias Naturales</ion-label><ion-label>19 / 20</ion-label><ion-label>12%</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> 
</ion-content>
