<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="folder/:id" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Informes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Informe codigo 2332</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <strong>15-03-2023</strong>
        <ion-item>
          <ion-label>Ingreso / Limpia / 15 kg</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Encargado: Miguel Ortega</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-card-content>
      <ion-list>
        <strong>15-03-2023</strong>
        <ion-item>
          <ion-label>Egreso / Limpia / 15 kg</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Encargado: Miguel Ortega</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-card-content>
      <ion-list>
        <strong>15-03-2023</strong>
        <ion-item>
          <ion-label>Egreso / Limpia / 15 kg</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Encargado: Miguel Ortega</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-card-content>
      <ion-list>
        <strong>15-03-2023</strong>
        <ion-item>
          <ion-label>Egreso / Limpia / 15 kg</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Encargado: Miguel Ortega</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-card-content>
      <ion-list>
        <strong>15-03-2023</strong>
        <ion-item>
          <ion-label>Egreso / Limpia / 15 kg</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Encargado: Miguel Ortega</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-card-content>
      <ion-list>
        <strong>15-03-2023</strong>
        <ion-item>
          <ion-label>Egreso / Limpia / 15 kg</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Encargado: Miguel Ortega</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

