<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="folder/:id" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="qr">
    <ion-button (click)="startScan()">Registrar Asistencia</ion-button>

  <div *ngIf="lectura && lectura!= '' ">
    <h4>{{lectura}}</h4>
    <ion-button [href]=lectura >Ir al link</ion-button>
</div>
  </div>
</ion-content>


