<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Horario</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lunes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Martes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Miercoles</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Jueves</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Viernes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sabado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>8:30 - 9:30</ion-label><ion-label>Arquitectura</ion-label><ion-label>LPC2</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card> 
</ion-content>
